Repository esl/MongooseIM, pull requests merged in 2019-05, with the labels that each got.

#2294 GDPR retrieve pubsub (clean)
  big_tests/tests/gdpr_SUITE.erl
  big_tests/tests/pep_SUITE.erl
  big_tests/tests/pubsub_tools.erl
  src/admin_extra/service_admin_extra_gdpr.erl
  src/gdpr.erl
  src/pubsub/mod_pubsub.erl
  src/pubsub/mod_pubsub_db.erl
  src/pubsub/mod_pubsub_db_mnesia.erl
  src/pubsub/mod_pubsub_db_rdbms.erl
  src/pubsub/mod_pubsub_db_rdbms_sql.erl
Labels: GDPR, waiting-for-ci, waiting-for-review

#2297 Dynamic lookup of GDPR-related modules for retrieval
  big_tests/tests/gdpr_SUITE.erl
  src/admin_extra/service_admin_extra_gdpr.erl
  src/mod_vcard.erl
  src/mongoose_lib.erl
  src/pubsub/mod_pubsub.erl
Labels: GDPR, waiting-for-review

#2286 GDPR retrieve roster (clean)
  big_tests/tests/gdpr_SUITE.erl
  src/admin_extra/service_admin_extra_gdpr.erl
  src/mod_roster.erl
  src/mod_roster_mnesia.erl
Labels: GDPR, waiting-for-ci, waiting-for-review

#2288 Gdpr retrieve personal data from mod_private
  big_tests/tests/gdpr_SUITE.erl
  src/mod_private.erl
  src/mod_private_mnesia.erl
  src/mod_private_mysql.erl
  src/mod_private_rdbms.erl
  src/mod_private_riak.erl
  src/rdbms/rdbms_queries.erl
Labels: GDPR, waiting-for-ci

#2299 GDPR retrieve inbox (clean)
  big_tests/tests/gdpr_SUITE.erl
  include/mod_inbox.hrl
  src/inbox/mod_inbox.erl
  src/inbox/mod_inbox_rdbms.erl
Labels: GDPR, waiting-for-ci, waiting-for-review

#2289 Gdpr retrieve data from mod_offline
  big_tests/tests/gdpr_SUITE.erl
  src/mod_offline.erl
  src/mod_offline_mnesia.erl
  src/mod_offline_rdbms.erl
  src/mod_offline_riak.erl
  src/rdbms/rdbms_queries.erl
Labels: GDPR, waiting-for-ci

#2285 GDPR personal data retrieval
  .travis.yml
  big_tests/default.spec
  big_tests/rebar.config
  big_tests/rebar.lock
  big_tests/tests/ejabberdctl_helper.erl
  big_tests/tests/gdpr_SUITE.erl
  big_tests/tests/pep_SUITE.erl
  big_tests/tests/pubsub_tools.erl
  include/mod_inbox.hrl
  priv/parse_logs.sh
  rebar.config
  rebar.lock
  rel/files/mongooseim.cfg
  src/admin_extra/service_admin_extra.erl
  src/admin_extra/service_admin_extra_gdpr.erl
  src/ejabberd_config.erl
  src/ejabberd_ctl.erl
  src/ejabberd_loglevel.erl
  src/gdpr.erl
  src/inbox/mod_inbox.erl
  src/inbox/mod_inbox_rdbms.erl
  src/mod_offline.erl
  src/mod_offline_mnesia.erl
  src/mod_offline_rdbms.erl
  src/mod_offline_riak.erl
  src/mod_private.erl
  src/mod_private_mnesia.erl
  src/mod_private_mysql.erl
  src/mod_private_rdbms.erl
  src/mod_private_riak.erl
  src/mod_roster.erl
  src/mod_roster_mnesia.erl
  src/mod_vcard.erl
  src/mod_vcard_mnesia.erl
  src/mod_vcard_rdbms.erl
  src/mongoose_lib.erl
  src/mongooseim.app.src
  src/pubsub/mod_pubsub.erl
  src/pubsub/mod_pubsub_db.erl
  src/pubsub/mod_pubsub_db_mnesia.erl
  src/pubsub/mod_pubsub_db_rdbms.erl
  src/pubsub/mod_pubsub_db_rdbms_sql.erl
  src/rdbms/rdbms_queries.erl
Labels: GDPR, WIP :construction:, waiting-for-ci

#2276 send messages from inbox directly to the requesting resource
  big_tests/tests/inbox_SUITE.erl
  src/inbox/mod_inbox.erl
Labels: waiting-for-review

#2301 Remove personal data from mod_roster
  big_tests/tests/gdpr_SUITE.erl
  src/mod_roster.erl
Labels: GDPR, tests, waiting-for-ci

#2312 Remove personal data from mod_offline
  big_tests/.DS_Store
  big_tests/tests/gdpr_SUITE.erl
  src/mod_offline.erl
  src/mod_offline_mnesia.erl
Labels: GDPR, WIP :construction:

#2305 Use dsaparam argument when generating DH parameters to speed up generation
  tools/ssl/Makefile
Labels: ready, waiting-for-review

#2314 MAM MUC migration helper script
  doc/migrations/jid-from-mam-muc-script.md
  mkdocs.yml
  test/migration_scripts_SUITE.erl
  test/script_helper.erl
  tools/migration/sender-jid-from-mam-message.escript
  tools/migration/sender-jid-from-mam-message.example.eterm
  tools/migration/sender-jid-from-mam-message.example.xml
Labels: GDPR, waiting-for-review

#2302 Gdpr retrieve mam
  .travis.yml
  big_tests/mam.spec
  big_tests/tests/gdpr_SUITE.erl
  big_tests/tests/mam_helper.erl
  big_tests/tests/mongoose_helper.erl
  big_tests/tests/muc_light_SUITE.erl
  big_tests/tests/muc_light_helper.erl
  src/mam/ejabberd_gen_mam_archive.erl
  src/mam/mod_mam.erl
  src/mam/mod_mam_cassandra_arch.erl
  src/mam/mod_mam_elasticsearch_arch.erl
  src/mam/mod_mam_meta.erl
  src/mam/mod_mam_muc.erl
  src/mam/mod_mam_muc_cassandra_arch.erl
  src/mam/mod_mam_muc_rdbms_arch.erl
  src/mam/mod_mam_rdbms_arch.erl
  src/mam/mod_mam_rdbms_user.erl
  src/mam/mod_mam_riak_timed_arch_yz.erl
  src/mam/mod_mam_utils.erl
  src/mod_roster.erl
  test/mam_jid_mini_SUITE.erl
  test/mod_mam_meta_SUITE.erl
  tools/build-releases.sh
  tools/print-dots.sh
  tools/ssl/Makefile
  tools/start-nodes.sh
  tools/stop-nodes.sh
  tools/test-runner-complete.sh
  tools/test-runner.sh
  tools/test_runner/selected_tests_to_test_spec.erl
  tools/travis-common-vars.sh
  tools/travis-setup-db.sh
  tools/travis-test.sh
Labels: GDPR

#2309 Remove personal data from mod_inbox
  big_tests/tests/gdpr_SUITE.erl
  src/inbox/mod_inbox.erl
Labels: GDPR

#2298 Gdpr removal
  .travis.yml
  big_tests/.DS_Store
  big_tests/tests/gdpr_SUITE.erl
  doc/Advanced-configuration.md
  rel/files/mongooseim.cfg
  rel/files/mongooseim.cfg.token-support
  src/admin_extra/service_admin_extra_gdpr.erl
  src/auth/ejabberd_auth.erl
  src/inbox/mod_inbox.erl
  src/mod_offline.erl
  src/mod_offline_mnesia.erl
  src/mod_private.erl
  src/mod_private_riak.erl
  src/mod_roster.erl
  src/mod_vcard.erl
  src/mongoose_lib.erl
  test/cowboy_SUITE_data/mongooseim.onlyhttp.cfg
  test/cowboy_SUITE_data/mongooseim.onlyws.cfg
  test/ejabberd_config_SUITE_data/mongooseim.default.cfg
  test/ejabberd_config_SUITE_data/mongooseim.split.cfg
  test/ejabberd_config_SUITE_data/mongooseim.with_mod_offline.cfg
  test/ejabberd_config_SUITE_data/mongooseim.with_mod_offline.different_opts.cfg
  test/revproxy_SUITE_data/mongooseim.norules.cfg
  test/revproxy_SUITE_data/mongooseim.onerule.cfg
Labels: GDPR

#2308 Add option to modify Cowboy server name returned in headers
  big_tests/tests/rest_client_SUITE.erl
  big_tests/tests/rest_helper.erl
  doc/Advanced-configuration.md
  rel/files/mongooseim.cfg
  rel/mim2.vars.config
  src/config/mongoose_config_parser.erl
  src/ejabberd_cowboy.erl
  test/commands_backend_SUITE.erl
  test/mod_websockets_SUITE.erl
Labels: ready, waiting-for-review
