Repository esl/MongooseIM, pull requests merged in 2022-11, with the labels that each got.

#3857 C2s/refactor user send packet
  src/c2s/mongoose_c2s.erl
  src/c2s/mongoose_c2s_hooks.erl
  src/c2s/mongoose_c2s_listener.erl
  src/event_pusher/mod_event_pusher_hook_translator.erl
  src/inbox/mod_inbox.erl
  src/jingle_sip/mod_jingle_sip.erl
  src/metrics/mongoose_metrics.erl
  src/metrics/mongoose_metrics_hooks.erl
  src/mod_amp.erl
  src/mod_caps.erl
  src/mod_carboncopy.erl
  src/mod_last.erl
  src/mod_ping.erl
  src/mod_presence.erl
  src/mod_register.erl
  src/mongoose_hooks.erl
  src/mongoose_stanza_api.erl
  src/privacy/mod_blocking.erl
  src/privacy/mod_privacy.erl
  src/smart_markers/mod_smart_markers.erl
  src/stream_management/mod_stream_management.erl
Labels: mongoose_c2s

#3859 Do not store message sent to yourself
  big_tests/tests/mam_SUITE.erl
  src/mam/mod_mam_pm.erl
Labels: waiting-for-review

#3845 C2s/connect
  big_tests/default.spec
  big_tests/dynamic_domains.config
  big_tests/dynamic_domains.spec
  big_tests/test.config
  big_tests/tests/connect_SUITE.erl
  big_tests/tests/sasl_external_SUITE.erl
  doc/configuration/release-options.md
  rebar.config
  rebar.lock
  src/c2s/mongoose_c2s.erl
  src/c2s/mongoose_c2s_ranch.erl
  src/c2s/mongoose_c2s_stanzas.erl
  src/ejabberd.erl
  src/ejabberd_receiver.erl
  src/ejabberd_socket.erl
  src/ejabberd_zlib.erl
  src/mod_bosh_socket.erl
  src/mod_websockets.erl
Labels: mongoose_c2s

#3860 C2s/ejabberd c2s sup
  big_tests/tests/last_SUITE.erl
  test/mongooseim_metrics_SUITE.erl
Labels: mongoose_c2s

#3869 Fix tabbed content in the documentation
  mkdocs.yml
Labels: doc

#3872 Fix cassandra auth parameters parsing
  src/wpool/mongoose_wpool_cassandra.erl
  test/mongoose_wpool_SUITE.erl
Labels: waiting-for-review
